<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Victor Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="vue.js"></script> 

</head>
<body>
    <div id="app">
        <div>
            <h3 class="name" v-if="show">
                <ul>
                    <li v-for="(car, i) in cars" :key="car">{{ car }} ({{i}})</li>
                </ul>
                <button @click="cars.push('Jargon')">Add New Car</button>
            </h3>
            <h3 v-else="show">Hello</h3>
            <h3 v-show="show">Hide Content</h3>
        </div>
        <button @click="show = !show">Show Name</button>
       <template v-for="(detail, i) in details">
           <ul>
               <li v-for="(value, key) in detail">
                   <p v-if="key === 'BMW'"> Wow </p>
                   {{ key }}: {{ value }}
                </li>
           </ul>
       </template>
    </div>
</body>       
 <script src="index.js"></script>
</html>